.product-card {
  text-align: center;
  width: 200px;
  height: 220px;
}

.product-image {
  width: 100%;
  height: 110px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-title {
  font-size: 0.8rem;
  margin: 8px 0;
  height: 40px; /* consistent height */
  overflow: hidden;
}

.product-price {
  font-weight: bold;
  margin-bottom: 12px;
}
