#header {
    background-color: #20b2aa;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cart-wishlist {
    display: flex;
    gap: 60px;
}

.icon-container {
    position: relative; 
    display: flex;
    align-items: center; 
}

#cart-wishlist h3 {
    color: #333;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    margin: 0; 
    padding: 5px; 
    cursor: pointer;
}


.badge {
    position: absolute; 
    top: 0;
    right: -30px;
    
    background-color: #ff4500; 
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    
    
    border-radius: 50%;
    padding: 4px 5px;
    min-width: 25px; 
    text-align: center;
    line-height: 1; 
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}